{% extends 'crud_app/base.html' %} {% block middle %}

<!-- modal -->

<div class="container mt-5">
    {% if update %}
    <h1 class="text-center mb-5">Update Task</h1>
    {% else %}
    <h1 class="text-center mb-5">Create Task</h1>
    {% endif %}
  <hr class="mb-5" />
  <form id="create_task" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Task Title</label>
      <input
        type="text"
        class="form-control"
        name="name"
        aria-describedby="textHelp"
        placeholder="Enter text"
      />
      <small id="textHelp" class="form-text text-muted"
        >We'll never share your task with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="notes">Description</label>
      <textarea
        class="form-control"
        name="notes"
        placeholder="Description"
      ></textarea>
    </div>
    
    {% if update %}
    <button
      type="submit"
      class="btn btn-primary add"
      style="
        background-color: #69f07f;
        color: #3a3a3a;
        border-radius: 3px;
        border: 1px solid #69f07f;
        margin-top: 20px;
        float: right;
      "
    >
      Update
    </button>
    {% else %}
    <button
      type="submit"
      class="btn btn-primary add"
      style="
        background-color: #69f07f;
        color: #3a3a3a;
        border-radius: 3px;
        border: 1px solid #69f07f;
        margin-top: 20px;
        float: right;
      "
    >
      Add
    </button>
    {% endif %}
  </form>
</div>

{% endblock middle %}
